/* --- NOVAS REGRAS PARA AS OPÇÕES DO LOGIN --- */

.form-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -10px; /* Reduz o espaçamento do form gap para colar mais no input de senha */
  font-size: 14px;
}

.remember-me {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--text-primary);
  cursor: pointer;
}

.remember-me input {
  /* Reseta o estilo do input global para o checkbox não ficar enorme */
  height: 16px;
  width: 16px;
  padding: 0;
  cursor: pointer;
}

.forgot-password {
  color: var(--primary-green);
  cursor: pointer;
  font-weight: bold;
  transition: opacity 0.2s ease-in-out;
}

.forgot-password:hover {
  opacity: 0.8;
}

form button:disabled {
  background-color: #718096; /* Cor cinzenta quando está a carregar */
  cursor: not-allowed;
}